* {
    font-family: 'Sora', sans-serif;
}

body {
    background-color: #eee;
    margin: 0;
    padding: 0;
    color: #222;
    position: relative;
    min-height: 100vh;
}

main, nav {
    width: 70%;
    margin: 0 auto;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #000000;

}

main {
    padding-bottom: 30px;
}

#logo {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#menu {
    display: inline-block;
    float: right;
    height: 100%;
}

#menu ul {
    margin: 0;
    height: 100%;
    list-style-type: none;
}

#menu li {
    margin: 0;
    height: 100%;
    display: inline-block;
}

.menu-item {
    margin: 0;
    height: 100%;
    text-decoration: none;
    color: #222;
    padding: 15px 10px 0px 10px;
    display: block;
    color:white;
    font-size: 15px;
}

.menu-item:hover {
    color: #666;
}

li.active {
    background-color: #1512AE;
}

#title {
    font-size: 30px;
}

#logo .fa {
    font-size: 30px;
    padding: 10px;
}

#slogan {
    font-size: 16px;
    margin-bottom: 40px;
    position: absolute;
    top: 15px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.bg-info {
    padding: 15px 15px 15px 15px;
}

.bg-success {
    padding: 15px 15px 15px 15px;
}

.padded {
    padding: 15px;
}

/*#######################################
FOOTER
#######################################*/
footer {
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

footer p {
    margin: 0;
    line-height: 2.5;
}

/*#######################################
ACCOUNT PAGE
#######################################*/
#input-login, #input-password {
    width: 75%;
}

.form-control {
    width: 80%;
}

#your-funds {
    margin-top: 50px;
}

#transactionCost {
    font-size: 18px;
}

.actionOptionLink:hover {
    text-decoration: none;
    color: black;
}

/*#######################################
CRYPTO PAGE
#######################################*/
#cryptos-list {
    padding-top: 0px;
}

#chartButton {
    margin-left: 10px;
}
/*#######################################
DEPOSIT PAGE
#######################################*/
#deposit-title {
    margin: 20px 0px 15px 20px;
    font-size: 20px;
}

#deposit-input {
    min-width: 350px;
}

#deposit-button {
    width: 100px;
    margin: 5px 0px 20px 15px;
}

.deposit-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    margin-top: 30px;
}

#deposit-info {
    margin-left: 15px;
}
/*#######################################
RESPONSIVE UI
#######################################*/
@media only screen and (max-width: 1400px) {
    nav {
        height: 70px;
        width: 95%;
        display: flex;
        flex-wrap: nowrap;
    }

    #title, #logo .fa {
        font-size: 18px;
    }

    #logo {
        margin-top: 15px;
        margin-right: 0px;
        align-self: start;
    }

    #slogan {
        display: none;
    }

    .menu-item {
        margin: 0;
        text-decoration: none;
        color: #222;
        display: block;
        padding: 5px 5px 0px 5px;
        color: white;
        height: 10px;
        }

    #menu li {
        margin: 0;
        height: 30px;
        display: inline-block;
    }

    #menu {
        display: block;
        padding-left: 0px;
        margin-top: 37.5px;
    }

    .welcomeMsg {
        font-size: 25px;
        line-height: 1.5;
    }

    #cryptos-list {
        width: 95%;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 30px;
    }

    .actionOption {
        padding: 0px 5px 0px 5px;
    }

    #your-funds {
        width: 95%;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 15px;
        margin-bottom: 25px;
        margin-top: 0px;
        padding-top: 25px;
    }

    #chartButton {
        margin-left: 0px;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        height: 105px;
    }

    #menu {
        padding-top: 17.5px;
    }

    #fa-logo {
        display: none;
    }

    #logo {
        width: 50px;
    }
}