* {
    font-family: 'Sora', sans-serif;
}

body {
    background-color: #eee;
    margin: 0;
    padding: 0;
    color: #222;
    position: relative;
    min-height: 100vh;
}

main, nav {
    width: 70%;
    margin: 0 auto;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #000000;

}

main {
    padding-bottom: 30px;
}

#logo {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#menu {
    display: inline-block;
    float: right;
    height: 100%;
}

#menu ul {
    margin: 0;
    height: 100%;
    list-style-type: none;
}

#menu li {
    margin: 0;
    height: 100%;
    display: inline-block;
}

.menu-item {
    margin: 0;
    height: 100%;
    text-decoration: none;
    color: #222;
    padding: 15px 10px 0px 10px;
    display: block;
    color:white;
    font-size: 15px;
}

.menu-item:hover {
    color: #666;
}

li.active {
    background-color: #1512AE;
}

#title {
    font-size: 30px;
}

#logo .fa {
    font-size: 30px;
    padding: 10px;
}

#slogan {
    font-size: 16px;
    margin-bottom: 40px;
    position: absolute;
    top: 15px;
}

footer {
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

footer p {
    margin: 0;
    line-height: 2.5;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.bg-info {
    padding: 15px;
}

.bg-success {
    padding: 15px;
}

.padded {
    padding: 15px;
}

#input-login, #input-password {
    width: 75%;
}

btn {
    color: blue;
}

@media only screen and (max-width: 1300px) {
    nav {
        height: 75px;
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #title, #logo .fa {
        font-size: 18px;
    }

    #slogan {
        display: none;
    }

    .menu-item {
        margin: 0;
        height: 100%;
        text-decoration: none;
        color: #222;
        display: block;
        padding: 27.5px 5px 0px 5px;
        color: white;
        }

    .welcomeMsg {
        font-size: 25px;
        line-height: 1.5;
    }

    #cryptos-list {
        width: 95%;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .actionOption {
        padding: 0px 5px 0px 5px;
    }

    #actionOptionsDivider {
        display: none;
    }
}